{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <!--Modal login-->
    <div class="pc-form-login-container w-6/12 m-auto">
        <div class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2
					border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50 dark:bg-gray-700"
        >
            <!--Modal title-->
            <h5 class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                id="exampleModalLabel"
            >
                Connexion
            </h5>
            <!--Close button-->
        </div>

        <!--Modal body-->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="px-6 py-6 lg:px-8">
                <form class="space-y-6" method="POST" action="{{ path('app_login') }}">
                    <div>
                        <label for="email"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Votre adresse email
                        </label>
                        <input type="email" name="email" id="email"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
									  rounded-lg focus:ring-blue-500 focus:border-blue-500
									  block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
									  dark:placeholder-gray-400 dark:text-white"
                               placeholder="name@company.com" required
                        >
                    </div>
                    <div>
                        <label for="password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Votre mot de passe
                        </label>
                        <input type="password" name="password" id="password"
                               placeholder="••••••••"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
								      rounded-lg focus:ring-blue-500 focus:border-blue-500 block
								      w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
								      dark:placeholder-gray-400 dark:text-white"
                               required
                        >
                    </div>
                    <div class="flex justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="_remember_me" type="checkbox" value="" name="_remember_me"
                                       class="w-4 h-4 border border-gray-300 rounded bg-gray-50
											  focus:ring-3 focus:ring-blue-300 dark:bg-gray-600
											  dark:border-gray-500 dark:focus:ring-blue-600
											  dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                                >
                            </div>
                            <label for="_remember_me"
                                   class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                            >
                                Se souvenir de moi
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <a href="#"
                           class="text-sm text-blue-700 hover:underline dark:text-blue-500"
                        >
                            Mot de passe oublié?
                        </a>
                    </div>
                    <button type="submit"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
								   focus:outline-none focus:ring-blue-300 font-medium rounded-lg
								   text-sm px-5 py-2.5 text-center dark:bg-blue-600
								   ark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        S'identifier
                    </button>
                    <div class="text-sm font-medium text-gray-500dark:text-gray-300">
                        Pas encore inscrit?
                        <a class="pc-button-clic cursor-pointer text-blue-700hover:underline
								  dark:text-blue-500">
                            Créer un compte.
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/Modal login-->

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>
{% endblock %}
