{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form, {'attr': {
	    'method': 'POST',
	    'action': path('app_reservation_new'),
    }}) }}
</div>
    <div class="flex flex-col justify-center items-center w-full">
        <div class="relative max-w-sm my-2">
	        {{ form_label(form.datecheckin) }}
	        {{ form_widget(form.datecheckin, {'attr':{
                'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 max-w-fit
            dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500 flex space-x-4 w-full',
                'placeholder': 'Select date',
            }}) }}
        </div>
        <div class="relative max-w-sm my-2">
	        {{ form_label(form.datecheckout) }}
	        {{ form_widget(form.datecheckout, {'attr': {
                'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
            focus:border-blue-500 block w-full  p-2.5 dark:bg-gray-700 dark:border-gray-600 max-w-fit
            dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500 flex space-x-4 w-full',
                'placeholder': 'Select date'
            },
            }) }}
        </div>
    </div>
	{{ form_label(form.all_day) }}
	{{ form_widget(form.all_day, {'attr' : {
		'class' : 'ml-2 text-sm font-medium  dark:text-gray-300 w-100'
	}}) }}<br>
	{{ form_label(form.description) }}
 	{{ form_widget(form.description, {'attr' : {
        'class': 'block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
        focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 my-2',
    }}) }}

	<div class="flex justify-around">
		<div class=" flex flex-col">
			{{ form_label(form.background_color) }}
			{{ form_widget(form.background_color, {'attr' : {
				'class' : 'm-auto'
			}}) }}
		</div>
		<div class=" flex flex-col">
			{{ form_label(form.border_color) }}
			{{ form_widget(form.border_color, {'attr' : {
				'class' : 'm-auto'
			}}) }}
		</div>
		<div class=" flex flex-col">
			{{ form_label(form.text_color) }}
			{{ form_widget(form.text_color, {'attr' : {
				'class' : 'm-auto'
			}}) }}
		</div>
	</div>
		{{ form_widget(form.status, {'attr': {
			'class': 'hidden',
		}}) }}
	<input type="hidden" name="book" value="{{ book.id }}">
    <input type="hidden" name="user" value="{{ app.user.id | default ('')}}">

    <div class="w-full flex justify-center">
	    <button type="submit"
	            class=" my-2 mx-auto inline-block rounded bg-[#001F3FFF] bg-primary px-6 pb-2 pt-2.5 text-xs font-medium
            uppercase
            leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
	            data-te-ripple-init
	            data-te-ripple-color="light">{{ button_label|default('Réserver') }}
	    </button>
    </div>
{{ form_end(form) }}
