{% extends 'base.html.twig' %}

{% block title %} Dashboard admin {% endblock %}

{% block body %}

	{{ include('admin/includes/sidebar.html.twig') }}



	<div class="space-y-2 flex flex-row-reverse">
		<!--Button trigger vertically centered scrollable modal-->
		<button

				class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
				data-te-toggle="modal"
				data-te-target="#exampleModalCenteredScrollable"
				data-te-ripple-init
				data-te-ripple-color="light">
			Nouvel auteur
		</button>
	</div>

	<!--Verically centered scrollable modal-->
	<div
			data-te-modal-init
			class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
			id="exampleModalCenteredScrollable"
			tabindex="-1"
			aria-labelledby="exampleModalCenteredScrollable"
			aria-modal="true"
			role="dialog">
		<div
				data-te-modal-dialog-ref
				class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
			<div
					class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
				<div
						class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
					<!--Modal title-->
					<h5
							class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
							id="exampleModalCenteredScrollableLabel">
						Ajouter un auteur
					</h5>
					<!--Close button-->
					<button
							type="button"
							class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
							data-te-modal-dismiss
							aria-label="Close">
						<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="h-6 w-6">
							<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>

				<!--Modal body-->
				<div class="relative p-4">
					{{ include('author/_form.html.twig') }}
				</div>


			</div>
		</div>
	</div>


	<!-- Main profile -->
	<div class="p-4">
		<ul class="w-full">
			<div class="flex flex-col overflow-x-auto">
				<div class="sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
						<div class="overflow-x-auto">
							<table class="min-w-full  text-sm font-light">
								<thead class="border-b font-medium dark:border-neutral-500">
								<tr>
									<th scope="col" class="px-6 py-4">Id</th>
									<th scope="col" class="px-6 py-4">Nom</th>
									<th scope="col" class="px-6 py-4">Biographie</th>
									<th scope="col" class="px-6 py-4">Avatar</th>
								</tr>
								</thead>
								<tbody>
								{% for author in authors %}
									<tr class="border-b dark:border-neutral-500 overflow-scroll">
										<form action="{{ path('app_admin_author') }}" name="form-{{ author.id }}"
										      method="post">
											<td class="whitespace-nowrap px-3 py-4 font-medium text-center">
												{{ author.id }}
												<input type="hidden" name="id" value="{{ author.id }}">
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="name"
															value="{{ author.name }}"
															name="name"
													/>
													<label
															for="name"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Nom
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
											  <textarea
													  class="peer block min-h-[auto] w-full rounded border-0 bg-transparent
													  px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200
													   ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100`
													    motion-reduce:transition-none dark:text-dark-200
													    dark:placeholder:text-neutral-200
													    [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
													  id="biography"
													  name="biography"
													  rows="3"
													  placeholder="Your message">
												  {{ author.biography }}
											  </textarea>
													<label
															for="biography"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%]
													 origin-[0_0] truncate pt-[0.37rem] leading-[1.6]
													 text-neutral-500 transition-all duration-200 ease-out
													 peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8]
													 peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Biographie</label
													>
												</div>

											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="avatar"
															value="{{ author.avatar}}"
															name="avatar"
													/>
													<label
															for="avatar"
															class="pointer-events-none absolute left-3  top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Avatar
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
												<div class="relative mb-3">
													<button
															type="submit"
															class="inline-block rounded border-2 border-warning px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-warning transition duration-150 ease-in-out hover:border-warning-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-warning-600 focus:border-warning-600 focus:text-warning-600 focus:outline-none focus:ring-0 active:border-warning-700 active:text-warning-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
													>
														modifier
													</button>
												</div>
											</td>
										</form>
										<td class="whitespace-nowrap w-2.5 px-3 py-4">
											<div class="relative mb-3">
												{{ include('author/_delete_form.html.twig') }}
											</div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</ul>
		<div class="w-full flex justify-center">
			{{ knp_pagination_render(authors) }}
		</div>
	</div>
	<!-- ./Main profile -->
{% endblock %}