{% extends 'base.html.twig' %}

{% block title %} Dashboard admin {% endblock %}

{% block body %}

	{{ include('admin/includes/sidebar.html.twig') }}


	<!-- Toggler -->
	<button
			class="mt-10 ml-[180px] inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase
			leading-tight
			text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
			data-te-sidenav-toggle-ref
			data-te-target="#sidenav-1"
			aria-controls="#sidenav-1"
			aria-haspopup="true">
  <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
    <svg
		    xmlns="http://www.w3.org/2000/svg"
		    viewBox="0 0 24 24"
		    fill="currentColor"
		    class="h-5 w-5">
      <path
		      fill-rule="evenodd"
		      d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
		      clip-rule="evenodd" />
    </svg>
  </span>
	</button>
	<!-- Toggler -->
	<!-- Main profile -->
	<div class="p-4">
		<ul class="w-full">
			<div class="flex flex-col overflow-x-auto">
				<div class="sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
						<div class="overflow-x-auto">
							<table class="min-w-full  text-sm font-light">
								<thead class="border-b font-medium dark:border-neutral-500">
								<tr>
									<th scope="col" class="px-6 py-4">Id</th>
									<th scope="col" class="px-6 py-4">Lecteur</th>
									<th scope="col" class="px-6 py-4">Livre</th>
									<th scope="col" class="px-6 py-4">Note</th>
									<th scope="col" class="px-6 py-4">Commentaire</th>
									<th scope="col" class="px-6 py-4">Qte hors stock</th>
									<th scope="col" class="px-6 py-4">Couverture</th>
									{#									<th scope="col" class="px-6 py-4">Créé le</th>#}
									{#									<th scope="col" class="px-6 py-4">Mise à jour le</th>#}
								</tr>
								</thead>
								<tbody>
								{% for comment in comments %}
									<tr class="border-b dark:border-neutral-500 overflow-scroll">
										<form action="{{ path('app_admin_comment') }}" name="form-{{ comment.id }}"
										      method="post">
											<td class="whitespace-nowrap px-3 py-4 font-medium text-center">
												{{ comment.id }}
												<input type="hidden" name="id" value="{{ comment.id }}">
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="user"
															value="{{ comment.user.firstname }} {{ comment.user
															.lastname }} / {{ comment.user.email }}"
															name="user"
															disabled
															readonly
													/>
													<label
															for="user"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Lecteur
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="title"
															value="{{ comment.book.title }}"
															name="title"
															disabled
															readonly
													/>
													<label
															for="title"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Livre
													</label>
												</div>

											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="note"
															value="{{ comment.note}}"
															name="note"
													/>
													<label
															for="note"
															class="pointer-events-none absolute left-3  top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Note
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3  py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0
															bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="comment"
															value="{{ comment.comment }}"
															name="comment"
													/>
													<label
															for="comment"
															class="pointer-events-none absolute  left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Commentaire
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
												<div class="relative mb-3">
													<button
															type="submit"
															class="inline-block rounded border-2 border-warning px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-warning transition duration-150 ease-in-out hover:border-warning-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-warning-600 focus:border-warning-600 focus:text-warning-600 focus:outline-none focus:ring-0 active:border-warning-700 active:text-warning-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
													>
														modifier
													</button>
												</div>
											</td>
										</form>
										<td class="whitespace-nowrap w-2.5 px-3 py-4">
											<div class="relative mb-3">
												{{ include('comment/_delete_form.html.twig') }}
											</div>
										</td>


									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</ul>
		<div class="w-full flex justify-center">
			{{ knp_pagination_render(comments) }}
		</div>
	</div>
	<!-- ./Main profile -->
{% endblock %}