{% extends 'base.html.twig' %}

{% block title %} Dashboard admin {% endblock %}

{% block body %}

	{{ include('admin/includes/sidebar.html.twig') }}

	<!-- Toggler -->
	<button
			class="mt-10 ml-[180px] inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase
			leading-tight
			text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
			data-te-sidenav-toggle-ref
			data-te-target="#sidenav-1"
			aria-controls="#sidenav-1"
			aria-haspopup="true">
  <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
    <svg
		    xmlns="http://www.w3.org/2000/svg"
		    viewBox="0 0 24 24"
		    fill="currentColor"
		    class="h-5 w-5">
      <path
		      fill-rule="evenodd"
		      d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
		      clip-rule="evenodd" />
    </svg>
  </span>
	</button>
	<!-- Toggler -->

	<!-- Modal new -->
	<div class="space-y-2 flex flex-row-reverse">
		<!--Button trigger vertically centered scrollable modal-->
		<button

				class=" right-0.5 inline-block rounded border-2 border-success px-6 pb-[6px] pt-2 text-xs font-medium
        				uppercase leading-normal text-success transition duration-150 ease-in-out hover:border-success-600
        				hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600
        				focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700
        				active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
				data-te-toggle="modal"
				data-te-target="#exampleModalCenteredScrollable"
				data-te-ripple-init
				data-te-ripple-color="light">
			Nouveau lecteur
		</button>
	</div>

	<div
			data-te-modal-init
			class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
			id="exampleModalCenteredScrollable"
			tabindex="-1"
			aria-labelledby="exampleModalCenteredScrollable"
			aria-modal="true"
			role="dialog">
		<div
				data-te-modal-dialog-ref
				class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
			<div
					class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
				<div
						class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
					<!--Modal title-->
					<h5
							class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
							id="exampleModalCenteredScrollableLabel">
						Ajouter un lecteur
					</h5>
					<!--Close button-->
					<button
							type="button"
							class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
							data-te-modal-dismiss
							aria-label="Close">
						<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								class="h-6 w-6">
							<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>

				<!--Modal body-->
				<div class="relative p-4">
					{{ include('user/_formAdmin.html.twig') }}
				</div>


			</div>
		</div>
	</div>
	<!-- /Modal new -->

	<!-- Main profile -->
	<div class="p-4">
		<ul class="w-full">
			<div class="flex flex-col overflow-x-auto">
				<div class="sm:-mx-6 lg:-mx-8">
					<div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
						<div class="overflow-x-auto">
							<table class="min-w-full  text-sm font-light">
								<thead class="border-b font-medium dark:border-neutral-500">
								<tr>
									<th scope="col" class="px-6 py-4">Id</th>
									<th scope="col" class="px-6 py-4">Prénom <br>Nom</th>
									<th scope="col" class="py-4">Email <br> Téléphone</th>
									<th scope="col" class="px-6 py-4">Adresse <br> Code postal</th>
									<th scope="col" class="py-4">Ville <br> Pays</th>
									<th scope="col" class="px-6 py-4">Lecteur vérifié</th>
									<th scope="col" class="px-6 py-4">Admin</th>
								</tr>
								</thead>
								<tbody>
								{% for user in users %}
									<tr class="border-b dark:border-neutral-500 overflow-scroll">
										<form action="{{ path('app_admin_user') }}" name="form-{{ user.id }}"  method="post">
											<td class="whitespace-nowrap px-3 py-4 font-medium text-center">
												{{ user.id }}
												<input type="hidden" name="id" value="{{ user.id }}">
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="firstname"
															value="{{ user.firstname }}"
															name="firstname"
													/>
													<label
															for="firstname"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Prénom
													</label>
												</div>
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="lastname"
															value="{{ user.lastname}}"
															name="lastname"
													/>
													<label
															for="lastname"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Nom
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="email"
															value="{{ user.email }}"
															name="email"
													/>
													<label
															for="email"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Email
													</label>
												</div>
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="phone"
															value="{{ user.phone }}"
															name="phone"
													/>
													<label
															for="phone"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Téléphone
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="adress"
															value="{{ user.adress }}"
															name="adress"
													/>
													<label
															for="adress"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>adresse
													</label>
												</div>
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="code"
															value="{{ user.code }}"
															name="code"
													/>
													<label
															for="code"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Code postal
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap px-3 py-4">
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="city"
															value="{{ user.city }}"
															name="city"
													/>
													<label
															for="city"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Ville
													</label>
												</div>
												<div class="relative mb-3" data-te-input-wrapper-init>
													<input
															type="text"
															class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-dark-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
															id="country"
															value="{{ user.country }}"
															name="country"
													/>
													<label
															for="country"
															class="pointer-events-none  absolute left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
													>Pays
													</label>
												</div>
											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
													<input
															class=" mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] disabled:cursor-default disabled:opacity-60 dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca]"
															name="isVerified"
															type="checkbox"
															role="switch"
															id="isVerified"
															{% if user.isverified == 1 %}checked{% endif %}
													/>
													<label
															class="pointer-events-none absolute  left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
															for="isVerified"
													>Status</label>
											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
													<input
															class=" mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] disabled:cursor-default disabled:opacity-60 dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca]"
															name="roles"
															type="checkbox"
															role="switch"
															id="roles"
															{% if "ROLE_ADMIN" in user.roles %}checked{% endif %}

													/>
													<label
															class="pointer-events-none absolute  left-3 top-0
															mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-dark-200 dark:peer-focus:text-primary"
															for="roles"
													>Admin</label>
											</td>
											<td class="whitespace-nowrap w-24 px-3 py-4">
												<div class="relative mb-3">
													<button
															type="submit"
															class="inline-block rounded border-2 border-warning px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-warning transition duration-150 ease-in-out hover:border-warning-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-warning-600 focus:border-warning-600 focus:text-warning-600 focus:outline-none focus:ring-0 active:border-warning-700 active:text-warning-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
													>
														modifier
													</button>
												</div>
											</td>
										</form>
										<td class="whitespace-nowrap w-2.5 px-3 py-4">
											<div class="relative mb-3">
												{{ include('user/_delete_form.html.twig') }}
											</div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</ul>
		<div class="w-full flex justify-center">
			{{ knp_pagination_render(users) }}
		</div>
	</div>
	<!-- ./Main profile -->
{% endblock %}