{{ form_start(form) }}
{{ form_label(form.user, 'Lecteur', {
    'label_attr': {
        'class': 'hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white',
    }
}) }}
    {{ form_widget(form.user, {
        'attr': {
            'class': 'bg-gray-50 my-5 border border-gray-300 text-gray-900 text-sm
					  rounded-lg focus:ring-blue-500 focus:border-blue-500 block
					  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
					  dark:placeholder-gray-400 dark:text-white',
            'placeholder': 'Lecteur'
        },
    }) }}
{{ form_label(form.book, 'Livre', {
    'label_attr': {
        'class': 'hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white',
    }
}) }}
    {{ form_widget(form.book, {
        'attr': {
            'class': 'bg-gray-50 my-5 border border-gray-300 text-gray-900 text-sm
					  rounded-lg focus:ring-blue-500 focus:border-blue-500 block
					  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
					  dark:placeholder-gray-400 dark:text-white',
            'placeholder': 'Livre'
        },
    }) }}
{{ form_label(form.checkin, 'Date de retour', {
    'label_attr': {
        'class': 'hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white',
    }
}) }}
    {{ form_widget(form.checkin, {
        'attr': {
            'class': 'bg-gray-50 my-5 border border-gray-300 text-gray-900 text-sm
					  rounded-lg focus:ring-blue-500 focus:border-blue-500 block
					  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
					  dark:placeholder-gray-400 dark:text-white',
            'placeholder': 'Date de retour'
        },
    }) }}
{{ form_label(form.checkout, 'Date de sortie', {
    'label_attr': {
        'class': 'hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white',
    }
}) }}
    {{ form_widget(form.checkout, {
        'attr': {
            'class': 'bg-gray-50 my-5 border border-gray-300 text-gray-900 text-sm
					  rounded-lg focus:ring-blue-500 focus:border-blue-500 block
					  w-full p-2.5 dark:bg-gray-600 dark:border-gray-500
					  dark:placeholder-gray-400 dark:text-white',
            'placeholder': 'Date de sortie'
        },
    }) }}
<div class="w-full flex justify-center">
    <button
            type="submit"
            class=" right-0.5 inline-block rounded border-2 border-success px-6 pb-[6px] pt-2 text-xs font-medium
        uppercase leading-normal text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
            data-te-ripple-init>
        Ajouter l'auteur
    </button>
</div>
{{ form_end(form) }}
