{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
	<section class="text-gray-600 body-font overflow-hidden">
		<div class="container px-5 py-24 mx-auto">
			<div class="lg:w-4/5 mx-auto flex flex-wrap">
				<img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
				     src="{{ book.cover }}">
				<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
					{% for author in book.author %}
						<div class="flex items-center">
							<img class="rounded-full h-24 w-auto" src="{{ author.avatar }}" alt="">
							<a href="{{ path('app_author_show', {'id': author.id}) }}">
								<h2 class="text-sm title-font text-gray-500 tracking-widest">{{	author.name }}</h2></a>
						</div>
					{% endfor %}

					<h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ book.title }}</h1>
					{% for categorie in book.category %}
						<a href="{{ path('app_category_show', {'id': categorie.id}) }}">
									<span class="m-1 px-2 py-1 rounded bg-indigo-500 ">
										{{ categorie.name }}
									</span>
						</a>
					{% endfor %}
					<div class="flex mb-4">
			          <span class="flex items-center">
			            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
			              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
			            </svg>
			            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
			              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
			            </svg>
			            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
			              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
			            </svg>
			            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			                 stroke-width="2" class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
			              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
			            </svg>
			            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
			                 class="w-4 h-4 text-indigo-500" viewBox="0 0 24 24">
			              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
			            </svg>
			            <span class="text-gray-600 ml-3">4 Reviews</span>
			          </span>
					</div>
					<p class="leading-relaxed">{{ book.description }}</p>
					<div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
						<div class="">
							<div class="relative">
								<span class="mr-3">publier le :</span>
								<span class="text-sm title-font text-gray-500 tracking-widest">{{ book.publish|ago}}</span>
							</div>
							<div class="relative">
								<span class="mr-3">Éditer par:</span>
								{% for auteur in book.author %}
									<a class="text-sm title-font text-gray-500 tracking-widest" href="{{ path('app_author_show', {'id': auteur.id })}}">{{ auteur.name }}</a>
								{% endfor %}
							</div>
						</div>
					</div>


					<!-- modal start -->
					<div class="space-y-2">
						<!-- Button trigger vertically centered modal-->
						<button
								type="button"
								class="inline-block rounded bg-gray-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
								data-te-toggle="modal"
								data-te-target="#exampleModalCenter"
								data-te-ripple-init
								data-te-ripple-color="light">
							Faite votre réservation
						</button>

						<!--Button trigger vertically centered scrollable modal-->

					</div>

					<!--Verically centered modal-->
					<div
							data-te-modal-init
							class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
							id="exampleModalCenter"
							tabindex="-1"
							aria-labelledby="exampleModalCenterTitle"
							aria-modal="true"
							role="dialog">
						<div
								data-te-modal-dialog-ref
								class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
							<div
									class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
								<div
										class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
									<!--Modal title-->
									<h5
											class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
											id="exampleModalScrollableLabel">
										Réservez votre livre
									</h5>
									<!--Close button-->
									<button
											type="button"
											class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
											data-te-modal-dismiss
											aria-label="Close">
										<svg
												xmlns="http://www.w3.org/2000/svg"
												fill="none"
												viewBox="0 0 24 24"
												stroke-width="1.5"
												stroke="currentColor"
												class="h-6 w-6">
											<path
													stroke-linecap="round"
													stroke-linejoin="round"
													d="M6 18L18 6M6 6l12 12" />
										</svg>
									</button>
								</div>

								<!--Modal body-->
								<div class="relative p-4">
									{{ include('reservation/_form.html.twig') }}
								</div>
							</div>
						</div>
					</div>

{#					    <div class="flex">#}
{#					        <span class="title-font font-medium text-2xl text-gray-900">$58.00</span>#}
{#					        <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>#}
{#					        <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">#}
{#						        <a class="bt-fav"#}
{#						           onclick="addToFavorite(event)"#}
{#						           href="{{ path('app_book_add_to_fav', {id: book.id})}}">#}
{#							        <i class="bi {{ app.user.isFavorite(book) ? 'bi-heart-fill' :#}
{#							        'bi-heart'}}"></i>#}
{#						        </a>#}
{#					        </button>#}
{#					    </div>#}
				</div>
			</div>
		</div>
	</section>

	<!-- card book author start -->
	<h2 class="pc-title mt-10 ">les livres du même auteur</h2>
	<div class="flex overflow-scroll mb-32">
		{% for book in book.author.0.books %}
			<div class="flex flex-wrap place-items-center m-5">
				<!-- card -->
				<div class="overflow-hidden shadow-lg transition duration-500 ease-in-out transform
							hover:-translate-y-5 hover:shadow-2xl rounded-lg  w-60 md:w-80  m-auto">
					<a href="#" class="w-full block h-full">
						<img alt="blog photo" src="{{ book.cover }}" class="max-h-40 w-full object-cover"/>
					</a>
					<div class="bg-white w-full p-4">
							<div class="flex flex-wrap justify-between items-center h-24">
								<p class="text-indigo-500 text-2xl font-medium">
									<a href="{{ path('app_book_show', {'id': book.id}) }}">{{ book.title }}</a>
								</p>
								{% if app.user %}
									<div>
										<a class="bt-fav"
										   onclick="addToFavorite(event)"
										   href="{{ path('app_book_add_to_fav', {id: book.id})}}">
											<i class="bi {{ app.user.isFavorite(book) ? 'bi-heart-fill' :
											'bi-heart'}}"></i>
										</a>
									</div>
								{% endif %}
							</div>
							<p class="pc-truncate block text-gray-600 font-light text-md h-24">
								{{ book.description }}
							</p>
							<a class="inline-flex text-indigo-500" href="{{ path('app_book_show', {'id': book.id}) }}">Read More</a>
							<div class="flex flex-wrap justify-starts items-center py-3 border-b-2 text-xs text-white font-medium">
								{% for categorie in book.category %}
									<a href="{{ path('app_category_show', {'id': categorie.id}) }}">
									<span class="m-1 px-2 py-1 rounded bg-indigo-500 ">
										{{ categorie.name }}
									</span>
									</a>
								{% endfor %}
							</div>
							<div class="flex items-center mt-2">
								<img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='
							{% for author in book.author %}
							{{ author.avatar }}
							{% endfor %}
							'>

								<div class="pl-3">
									<div class="font-medium">
										{% for auteur in book.author %}
											<a href="{{ path('app_author_show', {'id': auteur.id })}}">{{ auteur.name }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- card book author end -->

	<!-- card book editor start -->
	<h2 class="pc-title mt-10 ">les livres du même editeur</h2>
	<div class="flex overflow-scroll mb-32">
		{% for book in book.editor.0.books %}
			<div class="flex flex-wrap place-items-center m-5">
				<!-- card -->
				<div class="overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5
							hover:shadow-2xl rounded-lg  w-60 md:w-80  m-auto">
					<a href="#" class="w-full block h-full">
						<img alt="blog photo" src="{{ book.cover }}" class="max-h-40 w-full object-cover"/>
					</a>
					<div class="bg-white w-full p-2">
							<div class="flex flex-wrap justify-between items-center h-24">
								<p class="text-indigo-500 text-2xl font-medium">
									<a class="w-100" href="{{ path('app_book_show', {'id': book.id}) }}">{{ book.title
										}}</a>
								</p>
								{% if app.user %}
									<div>
										<a class="bt-fav"
										   onclick="addToFavorite(event)"
										   href="{{ path('app_book_add_to_fav', {id: book.id})}}">
											<i class="bi {{ app.user.isFavorite(book) ? 'bi-heart-fill' :
											'bi-heart'}}"></i>
										</a>
									</div>
								{% endif %}
							</div>
							<p class="pc-truncate block text-gray-600 font-light text-md h-24">
								{{ book.description }}
							</p>
							<a class="inline-flex text-indigo-500" href="{{ path('app_book_show', {'id': book.id}) }}">Read More</a>
							<div class="flex flex-wrap justify-starts items-center py-3 border-b-2 text-xs text-white font-medium">
								{% for categorie in book.category %}
									<a href="{{ path('app_category_show', {'id': categorie.id}) }}">
									<span class="m-1 px-2 py-1 rounded bg-indigo-500 ">
										{{ categorie.name }}
									</span>
									</a>
								{% endfor %}
							</div>
							<div class="flex items-center mt-2">
								<img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='
							{% for author in book.author %}
							{{ author.avatar }}
							{% endfor %}
							'>

								<div class="pl-3">
									<div class="font-medium">
										{% for auteur in book.author %}
											<a href="{{ path('app_author_show', {'id': auteur.id })}}">{{ auteur.name }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- card book editor end -->

	<!-- card book category start -->
	<h2 class="pc-title mt-10 ">les livres de la même category</h2>
	<div class="flex overflow-scroll mb-32">
		{% for category in book.category | slice (0,10) %}
			{% for book in category.books | slice (0,10)%}
				<div class="flex flex-wrap place-items-center m-5">
					<!-- card -->
					<div class="overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg w-60 md:w-80 m-auto">
						<a href="#" class="w-full block h-full">
							<img alt="blog photo" src="{{ book.cover }}" class="max-h-40 w-full object-cover"/>
						</a>
						<div class="bg-white w-full p-4">
								<div class="flex flex-wrap justify-between items-center h-24">
									<p class="text-indigo-500 text-2xl font-medium">
										<a href="{{ path('app_book_show', {'id': book.id}) }}">{{ book.title }}</a>
									</p>
									{% if app.user %}
										<div>
											<a class="bt-fav"
											   onclick="addToFavorite(event)"
											   href="{{ path('app_book_add_to_fav', {id: book.id})}}">
												<i class="bi {{ app.user.isFavorite(book) ? 'bi-heart-fill' :
												'bi-heart'}}"></i>
											</a>
										</div>
									{% endif %}
								</div>
								<p class="pc-truncate block text-gray-600 font-light text-md h-24">
									{{ book.description }}
								</p>
								<a class="inline-flex text-indigo-500" href="{{ path('app_book_show', {'id': book.id}) }}">Read More</a>
								<div class="flex flex-wrap justify-starts items-center py-3 border-b-2 text-xs text-white font-medium">
									{% for category in book.category %}
										<a href="{{ path('app_category_show', {'id': category.id}) }}">
                  <span class="m-1 px-2 py-1 rounded bg-indigo-500 ">
                    {{ category.name }}
                  </span>
										</a>
									{% endfor %}
								</div>
								<div class="flex items-center mt-2">
									<img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='
                {% for author in book.author %}
                  {{ author.avatar }}
                {% endfor %}
              '>
									<div class="pl-3">
										<div class="font-medium">
											{% for author in book.author %}
												<a href="{{ path('app_author_show', {'id': author.id })}}">{{ author.name }}</a>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}

	</div>
	<!-- card book category end -->

{% endblock %}
