<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mise de côté de livre - Réservation</title>
	<style>
        /* Ajoute ici tes styles CSS pour centrer le contenu */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .book-details {
            text-align: left;
            margin-bottom: 20px;
        }
	</style>
</head>
<body>
<div class="container">
	<h1>Mise de côté de livre - Réservation</h1>
	<p>Bonjour,</p>
	<p>Nous vous informons que le livre suivant a été mis de côté suite à une demande de réservation :</p>
	<div class="book-details">
		<p><strong>Titre du livre :</strong> {{ book.title }}</p>
		{% for author in book.author %}
			<p><strong>Auteur :</strong> {{ author.name }}</p>
		{% endfor %}
		<p><strong>Quantité en stock :</strong> {{ book.qteStock }}</p>
	</div>
	<p>Le livre est à présent réservé et mis de côté pour le client.</p>
	<div class="book-details">
		<p><strong>Client :</strong> {{ user.firstname }} {{ user.lastname }}</p>
		<p><strong>adresse mail :</strong> {{ user.email }}</p>
		<p><strong>date de réservation: </strong> du {{ date.dateCheckin }} au {{ date.dateCheckout }}</p>
	</div>
	<p>Veuillez prendre les mesures nécessaires pour gérer la réservation et la mise de côté du livre.</p>
	<p>Cordialement,</p>
	<p>L'équipe de votre site</p>
</div>
</body>
</html>