{% extends 'base.html.twig' %}

{% block title %}Votre profile{% endblock %}

{% block body %}
	<!-- Toggler -->
	<button
			class="mt-10 ml-20 inline-block rounded bg-primary px-6 py-2.5 text-xs font-medium uppercase
			leading-tight
			text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
			data-te-sidenav-toggle-ref
			data-te-target="#sidenav-1"
			aria-controls="#sidenav-1"
			aria-haspopup="true">
  <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-white">
    <svg
		    xmlns="http://www.w3.org/2000/svg"
		    viewBox="0 0 24 24"
		    fill="currentColor"
		    class="h-5 w-5">
      <path
		      fill-rule="evenodd"
		      d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
		      clip-rule="evenodd" />
    </svg>
  </span>
	</button>
	<!-- Toggler -->
	<!-- Sidenav -->
	<nav
			id="sidenav-1"
			class="fixed mr-6 left-0 top-[42px] md:top-[74px] z-[1035] h-full w-60 -translate-x-full overflow-hidden
			bg-white
			shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0 dark:bg-zinc-800"
			data-te-sidenav-hidden="true"
			data-te-sidenav-init>

		<ul class="space-y-2 font-medium mt-20">
			<li>
				<a href="{{ path('app_home') }}" class="flex items-center p-2 text-gray-900 rounded-lg
                    dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"/>
					</svg>
					<span class="ml-3">Revenir à l'accueil</span>
				</a>
			</li>
			<a href="#"
			   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
				     stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round"
					      d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"/>
				</svg>
				<span class="flex-1 ml-3 whitespace-nowrap">Vos messages</span>
				<span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
			</a>
			</li>
			<li>
				<a href="#"
				   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
					</svg>
					<span class="flex-1 ml-3 whitespace-nowrap">Vos livres achetés</span>
				</a>
			</li>
			<li>
				<a href="{{ path('app_user_edit', {'id': user.id}) }}"
				   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"/>
					</svg>
					<span class="flex-1 ml-3 whitespace-nowrap">Paramètres du compte</span>
				</a>
			</li>
			<li>
				<a href="{{ path('app_logout') }}"
				   class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					     stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"/>
					</svg>
					<span class="flex-1 ml-3 whitespace-nowrap">Déconnexion</span>
				</a>
			</li>
		</ul>

	</nav>
	<!-- Sidenav -->


	<!-- Main profile -->
	<div class="p-4 w-9/12 m-auto">
		<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
			<!-- informations personnelles -->
			<div class="grid grid-cols-3 gap-4 mb-4">
				<div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						{{ user.firstname }} {{ user.lastname }}
					</p>
				</div>
				<div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						{{ user.adress }} <br>
						{{ user.code }} {{ user.city }}<br>
						{{ user.phone }}
					</p>
				</div>
				<div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						{{ user.email }}
					</p>
				</div>
			</div>
			<!-- ./informations personnelles -->
			<!-- historique d'achat -->
			<div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
				<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
					Prochainement l'historique d'achat
				</p>
			</div>
			<!-- ./historique d'achat -->

			<!-- mes commandes -->
			<div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
				<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
					Prochainement mes commandes
				</p>
			</div>
			<!-- ./mes commandes -->

			<!-- mes favoris -->
			<div class="grid grid-cols-2 gap-4 mb-4">
				<div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						Mes auteurs favoris
					</p>
				</div>
				<div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						<a href="{{ path('app_user_show_favorites', {'id': app.user.id}) }}">Mes livres favoris</a>
					</p>
				</div>
				<div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						<a href="">Mes commentaires</a>
					</p>
				</div>
				<div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
					<p class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">
						<a href="">Mes avis</a>
					</p>
				</div>
			</div>
			<!-- ./mes favoris -->

			<!-- paramètres du compte -->

			<!-- ./paramètres du compte -->
		</div>
	</div>
	<div>
		<div class="flex flex-column  justify-center mb-4 rounded bg-gray-50 dark:bg-gray-800">
			<h2 class="text-sm lg:text-2xl  text-gray-400 dark:text-gray-500">Mes réservations</h2>
		</div>
		{% if data is empty %}
			<h2 class="text-center">Vous n'avez pas de réservation en cours</h2>
		{% endif %}
		<!-- Calendrier -->
		<div id="calendar" class="w-8/12 m-auto"></div>
		<!-- ./Calendrier -->
	</div>
	<!-- ./Main profile -->
	{% if data is not empty %}
		<script>
            let myData = {{ data|raw }};
		</script>
	{% endif %}
{% endblock %}
